@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    --dark-blue : #1F2937;
    --blue :#3882F6;
    --grey-blue : #E5E7EB;
    --white : #FFF;
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    max-width: 90rem;

}

h1{
    font-size: calc(1.272rem*1.272*1.272);
}
h2 {
    font-size: calc(1.272rem*1.272);
    
}
.flex-container{
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: calc(1440px - 2rem);
    margin: 0 auto;
}

.flex-container.col{
    flex-direction: column;
}
header, .hero{
    /* align-items: center;
    display: flex;
    justify-content: center; */
    color: var(--white);
    background-color: var(--dark-blue);
    padding: 1rem;
    
}

header .flex-container{
    justify-content: space-between;
}

.logo{
    font-size: 1.272em;
    font-weight: 900;
}
.navlinks{
    display: flex;
    gap:1rem;
}
.navlinks a:hover{
    text-decoration: underline;
}


.hero .flex-container{
    gap:2rem;
    justify-content: space-between;
    padding: 4rem 0;
}

.text-container{
   margin: auto 0;
}
.max-h1{
    font-size: calc(1.272rem*1.272*1.272*1.272*1.272);
}
.hero p{
    margin-bottom: 2rem;
}
.img-wrapper{
    flex: 1;
   
}
.hero-img {
    background-color: grey;
     width: calc((1440px - 6rem)/2);
    height: auto;
}

button{
    display: inline;
    flex-grow: 0;
    padding: .5rem 1rem;
}

.features{
    background-color: var(--white);
    color: var(--dark-blue);
    text-align: center;
}
.features .flex-container{
    gap: 2rem;
    justify-content: space-around;
    padding: 4rem;
}
.features h2 {
    flex: 1;
    margin-bottom: 1rem;
}

.feature-item{
flex :1;
}

.feature-img{
    border: var(--blue) solid 4px;
    border-radius: 16px;
    height: 120px;
    margin-bottom: 1rem;
    width: 120px;
}

.quote-block{
    background-color: var(--grey-blue);
    color: var(--dark-blue);
    padding: 2rem 1rem;
}
.quote-block .flex-container{
    justify-content: center;
    padding: 8rem;
}
.quote {
    font-size: calc(1.272rem*1.272);
    font-style: italic ;
    font-weight: 100;
}
 .quote-author{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: right;
}
